/Certificato_finale.pdf
/cose da modificare.txt
/desktop.ini
/download.png
/FiveM.lnk
/forge-1.7.10-10.13.4.1614-1.7.10-installer.jar
/forge-1.7.10-10.13.4.1614-1.7.10-installer.jar.log
/Fortnite.url
/League of Legends.lnk
/Libretto_Alimentazione.pdf
/Lorenzo document
/Lorenzo.docx
/Minecraft.exe
/OBS file
/prova 1.mp4
/ricordi
/Riot Client.lnk
/Rockstar Games Launcher.lnk
/Screenshot 2023-11-16 181329.png
/Screenshot 2023-11-16 181345.png
/Social worldzen
/TLC
/VALORE CARTE pokemon.docx
/Visual Studio Code.lnk
/web
/WinRAR.lnk
/Yu-Gi-Oh!  Master Duel.url
/~$Il Software.pptx